<div class="ui modal link-types">
    <i class="close icon"></i>

    <div class="header">
        New Link
    </div>
    <div class="content">
        <div class="ui form center">
            <p>
                Select a link type, search and select a resource.
            </p>
            <div class="grouped inline fields">
                {% for type in linkTypes %}
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="{{ type.slug }}" checked="checked">
                            <label>{{ type.title }}</label>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        {% for type in linkTypes %}
            {{ type.getForm()|raw }}
        {% endfor %}

{#        <div class="ui search">
            <input class="prompt" type="text" placeholder="Find a Url">
            <div class="results"></div>
        </div>#}
    </div>
    <div class="actions">
        <div class="ui button">Cancel</div>
        <div class="ui button">Save</div>
    </div>
</div>

{#
<script>

    $(document).ready(function () {

        var newLinkButton = $('.new-link');

        newLinkButton.click(function () {
            $('.link-types').modal('show');
        });

    });

</script>#}
