<div class="ui menu">
    <div class="header item">
        Group
    </div>
    {% for group in groups %}
        <a class="item {% if currentGroup.slug == group.slug %} active {% endif %}"
           href="{{ route('admin.navigation', {'slug': group.slug}) }}">
            {{ group.title }}
        </a>
    {% endfor %}
</div>